/* #habit_form {
    display: none;
} */

body{
    font-family: 'Montserrat', sans-serif;
    /* background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); */
    /* background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%); */
    /* background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%); */
}

#logo{
    width: 3rem;
    height: 3rem;
}
#slogan{
    display: flex;
    justify-content: center;
}

.badges{
    width: 6rem;
}

.rm-habit{
    display: none;
}

#change-pw-form{
    display: none;
}

#pw-success{
    color: olivedrab;
}

.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

#calendar a{
    color:#114B5F;
}


.navbar-brand{
    font-family: 'Lexend Peta', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.index {
    display: inline-block;
    position: relative;
    color: black;
    font-size: large;
  }
  
.index:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.index:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#footer-logo{
    font-family: 'Lexend Peta', sans-serif;
}
