body{
    font-family: 'Montserrat', sans-serif;
    background-image: url('https://www.niaid.nih.gov/themes/custom/niaid-drupal-theme/patternlab/src/images/waves.svg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}


#logo{
    width: 3rem;
    height: 3rem;
}

#slogan{
    display: flex;
    justify-content: center;
}

.badges{
    width: 6rem;
}

.rm-habit{
    display: none;
}

#change-pw-form{
    display: none;
}


.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

#calendar a{
    color:#012a4a;
}


#footer-logo, .bi, a, #pw-success{
    color:#3e8cb4;
}

.navbar-brand{
    font-family: 'Lexend Peta', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #3e8cb4;
}
.navbar-brand:hover{
    color: #3e8cb4;
}

.draw-line {
    display: inline-block;
    position: relative;
    color: black;
    font-size: large;
  }
  
.draw-line:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.draw-line:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#footer-logo{
    font-family: 'Lexend Peta', sans-serif;
}

button#overview-header {
    background-color: #ccdbfd;
}   

#chart-header{
    background-color: #d7e3fc;
}
#log-header{
    background-color: #e2eafc;
}
#quote-header{
    background-color: #edf2fb;
}

#navbarDropdown{
    font-size: large;
    color: black;
}

.habit-row td{
    text-align: center;
}

.fc-view-harness{
    background-color: white;
}

.bi-check-circle{
    color:#088b6f;
}

