body{
    font-family: 'Montserrat', sans-serif;
}

nav{

    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #edf2fb, #ccdbfd);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #edf2fb, #ccdbfd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#logo{
    width: 3rem;
    height: 3rem;
}
#slogan{
    display: flex;
    justify-content: center;
}

.badges{
    width: 6rem;
}

.rm-habit{
    display: none;
}

#change-pw-form{
    display: none;
}

#pw-success{
    color: olivedrab;
}

.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

#calendar a{
    color:#012a4a;
}


.navbar-brand{
    font-family: 'Lexend Peta', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.draw-line {
    display: inline-block;
    position: relative;
    color: black;
    font-size: large;
  }
  
.draw-line:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.draw-line:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#footer-logo{
    font-family: 'Lexend Peta', sans-serif;
}

button#overview-header {
    background-color: #ccdbfd;
}   

#chart-header{
    background-color: #d7e3fc;
}
#log-header{
    background-color: #e2eafc;
}
#quote-header{
    background-color: #edf2fb;
}

#navbarDropdown{
    font-size: large;
    color: black;
}

.habit-row td{
    text-align: center;
}

.fc-view-harness{
    background-color: white;
}


