{% extends 'base.html' %}
{% block title %}My records{% endblock %}


{% block body %}

<div class="container">
        <h2>All records for {{ habit.habit_name }} </h2>
        <a href="/all_habits">Back to my habits</a>
        {% if records %}
            <ul>
                {% for record in records %}
                    <li>
                        Record Date: {{ record.record_date }}
                        {% if record.notes %}
                          <p>Notes: {{ record.notes }}</p>
                        {% endif %}
                        {% if record.img_url != "" %}
                        <img src="{{ record.img_url }}" alt="record_image" width="300px">
                        {% endif %}
                    </li>
                    <a href="/{{record.record_id}}/remove_record" 
                    onclick="return confirm('Are you sure to remove this record?')")>Remove</a>
                    <hr>
                {% endfor %}
            </ul>

        {% else %}
        <p id="new_record_prompt">Uh-oh there's no record for this habit yet. <a href="/progress">Make one here.</a>
        </p>
        {% endif %}
  
</div>

{% endblock %}
