{% extends 'base.html' %}
{% block title %}My habits{% endblock %}


{% block body %}

<div class="container">
    <h2>All habits</h2>
    <a href="/progress">Back to main page</a>
    {% if habits %}
        <ul>
            {% for habit in habits %}
                <li>{{ habit.habit_name }} ({{ habit.frequency}} time(s) {{ habit.time_period }})</li>
                <p>Personal Reminder: {{ habit.reminder }}</p>
                <a href="/{{habit.habit_id}}/records">Check habit log</a>
                <a href="/{{habit.habit_id}}/remove_habit"
                onclick="return confirm('Are you sure to remove this habit? All records will be removed too.')">
                Remove habit</a>
                <hr>
            {% endfor %}
        </ul>

    {% else %}
    <p id="new_habit_prompt">Uh-oh there's no habit yet. <a href="/progress">Make one here.</a>
    </p>
{% endif %}

</div>

{% endblock %}
