{% extends 'base.html' %}
{% block title %}My badges{% endblock %}


{% block body %}

<div class="container">
    <h2>My achievements</h2>
    <a href="/progress">Back to main page</a>
    {% if badges %}
        <ul>
            {% for badge in badges %}
                <li>
                    <img src="{{badge.img_url}}" alt="badge" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ badge.message }}">
                    <p>{{ badge.name }}</p>
                </li>
                <hr>
            {% endfor %}
        </ul>

    {% else %}
    <p id="new_habit_prompt">Uh-oh you haven't earned any badges yet. <a href="/progress">Earn one here.</a>
    </p>
    {% endif %}
</div>

{% endblock %}
