<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
    <!-- CSS only -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css"> -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap" rel="stylesheet">

    <!-- Own stylesheet -->
    <link rel="stylesheet" href="static/css/style.css">
    
    {% block head %}{% endblock %}
   
</head>

<body>
    <!-- nav before log in -->
    {% if not session.get("user_email") %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">STICK</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="/" class="nav-item nav-link active">Home</a>
                </div>
                <div class="navbar-nav ms-auto">
                    <a href="/login" class="nav-item nav-link">Log in</a>
                    <a href="/signup" class="nav-item nav-link">Sign up</a>
    
                </div>
            </div>
        </div>
    </nav>
    
    {% else %}
    <!-- nav after log in -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/progress">STICK</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 offset-7">
              <!-- Modal form for new habit -->
              <li class="nav-item">
                <!-- Button triggers the modal -->
                  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#add_habit">
                    Add habit
                  </button>
    
                  <!-- Modal -->
                <div class="modal fade" id="add_habit" tabindex="-1"  aria-labelledby="Log your habit" aria-hidden="true" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modal-title">Add a habit</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                      </div>
                      <div class="modal-body">
                        <form action="/create_habit" method="POST" id="new_habit_form">
                          <div class="mb-2">
                            <label for="habit_name" class="form-label">Name<span style="color: red">*</span></label>
                            <input type="text" name="habit_name" class="form-control" id="habit_name" required>
                          </div>
    
                          <div class="mb-2">
                            <label for="frequency" class="form-label">Frequency<span style="color: red">*</span></label>
                            <input type="number" name="frequency" class="form-control" id="frequency" min="1" required> 
                            <span>Time(s)<span style="color: red">*</span></span>
                            <select name="time_period" class="form-control" id="time_period" required>
                              <option value="daily">Per Day</option>
                              <option value="weekly">Per Week</option>
                              <option value="monthly">Per Month</option>
                            </select>
                          </div>

    
                          <div class="mb-2">
                            <label for="reminder" class="form-label">Message To Future Self</label>
                            <textarea name="reminder" id="reminder" cols="50" rows="3" 
                            placeholder="E.g. Keep trying! You'll get it right!"></textarea>
                          </div>
    
                          <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Submit</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <p><span style="color: red">*</span>required field</p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
    
              <!-- Modal form for record-->
              <li class="nav-item">
                <!-- Button triggers the modal -->
                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#rec_modal">Log habit</button>
                <!-- Modal -->
                <div class="modal fade" id="rec_modal" tabindex="-1"  aria-labelledby="Log your habit" aria-hidden="true" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modal-title">Log your habit</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        
                        </button>
                      </div>
                      <div class="modal-body">
                        <form action="/create_record" method="POST" enctype="multipart/form-data">
                          <div class="mb-3">
                            <label for="log-habit" class="form-label">Choose habit: <span style="color: red">*</span></label>
                            <select name="log-habit" class="form-control" id="log-habit" required>
                              
                                {% for habit in habits %}
                                <option value="{{habit.habit_id}}">{{habit.habit_name}}</option>
                                {% endfor %}
                            
                            </select>
                          </div>
                          <div class="mb-3">
                            <label for="log-notes" class="form-label">Notes to self:</label>
                            <textarea name="log-notes" class="form-control" id="log-notes" cols="50" rows="3"></textarea>
                          </div class="mb-3">
                            <label for="log-photo" class="form-label">Choose photo to upload:</label>
                            <input type="file" name="log-photo" id="log-photo">
                          <div>
                          </div>
                          <div class="mb-3">
                            <label for="log-date" class="form-label">Record date: <span style="color: red">*</span></label>
                            <input type="date" name="log-date" class="form-control" id="log-date" required>
                          </div>
                          <button type="submit" class="btn btn-primary">Submit</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <p><span style="color: red">*</span> required field</p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <!-- Dropdown menu -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ user.name}}'s profile
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/all_habits">My Habits</a></li>
                  <li><a class="dropdown-item" href="/all_badges">My Badges</a></li>
                  <li><a class="dropdown-item" href="#exampleModal" data-bs-toggle="modal" data-bs-target="#exampleModal">View Achievements</a></li>

                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                </ul>
              </li>
            </ul>
            <!-- Modal for badges -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">My achievements</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          {% for badge in badges %}
                          <div class="col ms-auto">
                                  <img class="badges" src="{{badge.img_url}}" alt="badge" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ badge.message }}">
                                  <p class="badge-name">{{ badge.name }}</p>
                              
                          </div>
                          {% endfor %}
                        </div>
                      </div>

                  
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </nav>
    
        {% for msg in get_flashed_messages() %}
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="liveToast">
            <div class="toast-header">
            <img src="static/img/blueCircle.png" width="14px" class="rounded me-2" alt="blue-circle">
            <strong class="me-auto">Notification</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
            {{ msg }}
            </div>
        </div>
        </div>
        
        {% endfor %}
    
    {% endif %}

    {% block body %}{% endblock %}
      <!--  Bootstrap JS Bundle-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    {% block after_body %}{% endblock %}
</body>
</html>