{% extends 'base.html' %}

{% block title %}Habits{% endblock %}

{% block head %}
<!-- React, React DOM and Babel -->
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

{% endblock %}


{% block body %}

<div id="root"></div>
<script src="/static/js/habits.jsx" type="text/jsx"></script>

{% endblock %}