{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}

{% block body %}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">STICK</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link active">Home</a>
            </div>
            <div class="navbar-nav ms-auto">
                <a href="/login" class="nav-item nav-link">Log in</a>
                <a href="/signup" class="nav-item nav-link">Sign up</a>

            </div>
        </div>
    </div>
</nav>



<div class="container">
    <p>Wow so empty.</p>
</div>
{% endblock %}