{% extends 'base.html' %}

{% block title %}My progress{% endblock %}

{% block head %}
<!-- FullCalendar -->
<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css' rel='stylesheet' />
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js'></script>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/progress">STICK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 offset-7">
          <!-- Modal form for new habit -->
          <li class="nav-item">
            <!-- Button triggers the modal -->
              <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#add_habit">
                Add habit
              </button>

              <!-- Modal -->
            <div class="modal fade" id="add_habit" tabindex="-1"  aria-labelledby="Log your habit" aria-hidden="true" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Add a habit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="/create_habit" method="POST" id="new_habit_form">
                      <div class="mb-2">
                        <label for="habit_name" class="form-label">Name<span style="color: red">*</span></label>
                        <input type="text" name="habit_name" class="form-control" id="habit_name" required>
                      </div>

                      <div class="mb-2">
                        <label for="frequency" class="form-label">Frequency<span style="color: red">*</span></label>
                        <input type="number" name="frequency" class="form-control" id="frequency" min="1" required> 
                        <span>Time(s)<span style="color: red">*</span></span>
                        <select name="time_period" class="form-control" id="time_period" required>
                          <option value="daily">Per Day</option>
                          <option value="weekly">Per Week</option>
                          <option value="monthly">Per Month</option>
                        </select>
                      </div>

                      <div class="mb-2">
                        <label for="start_date" class="form-label">Start Date</label>
                        <input type="date" name="start_date" class="form-control" id="start_date" required>
                      </div>

                      <div class="mb-2">
                        <label for="reminder" class="form-label">Message To Future Self</label>
                        <textarea name="reminder" id="reminder" cols="50" rows="3" 
                        placeholder="E.g. Keep trying! You'll get it right!"></textarea>
                      </div>

                      <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Submit</button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <p><span style="color: red">*</span>required field</p>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <!-- Modal form for record-->
          <li class="nav-item">
            <!-- Button triggers the modal -->
            <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#rec_modal">Log habit</button>
            <!-- Modal -->
            <div class="modal fade" id="rec_modal" tabindex="-1"  aria-labelledby="Log your habit" aria-hidden="true" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Log your habit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="/create_record" method="POST" enctype="multipart/form-data">
                      <div class="mb-3">
                        <label for="log-habit" class="form-label">Choose habit: <span style="color: red">*</span></label>
                        <select name="log-habit" class="form-control" id="log-habit" required>
                          
                            {% for habit in habits %}
                            <option value="{{habit.habit_id}}">{{habit.habit_name}}</option>
                            {% endfor %}
                        
                        </select>
                      </div>
                      <div class="mb-3">
                        <label for="log-notes" class="form-label">Notes to self:</label>
                        <textarea name="log-notes" class="form-control" id="log-notes" cols="50" rows="3"></textarea>
                      </div class="mb-3">
                        <label for="log-photo" class="form-label">Choose photo to upload:</label>
                        <input type="file" name="log-photo" id="log-photo">
                      <div>
                      </div>
                      <div class="mb-3">
                        <label for="log-date" class="form-label">Record date: <span style="color: red">*</span></label>
                        <input type="date" name="log-date" class="form-control" id="log-date" required>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <p><span style="color: red">*</span> required field</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-- Dropdown menu -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ user.name}}'s profile
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/all_habits">My Habits</a></li>
              <li><a class="dropdown-item" href="/all_badges">My Badges</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Log Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>


<div class="container">
  <div class="row">
    <!-- Calendar -->
    <div class="col-md-7">
      <div id="calendar"></div>
    </div>
    
    <div class="col-md-5" id="habit_list">
      <hr>
      <h4>Overview</h4>
      {% if habits %}
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" class="table-dark"></th>
            <th scope="col" class="table-dark">Current Streak</th>
            <th scope="col" class="table-dark">Longest Streak</th>
            <th scope="col" class="table-dark">Total Record</th>
          </tr>
        </thead>
        <tbody id="habit-table">
          
          <tr class="table-secondary" id="daily-row">
            <th scope="row">Daily</th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          {% for habit in daily_habits %}
            <tr>
              <th scope="row" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ habit.frequency }} per day">{{habit.habit_name}}</th>
              <td>{{ habit.current_streak }}</td>
              <td>{{ habit.max_streak }}</td>
              <td>{{ habit.records|length }}</td>
            </tr>
          {% endfor %}
          

            <tr class="table-secondary" id="weekly-row">
              <th scope="row">Weekly</th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            {% for habit in weekly_habits %}
              <tr>
                <th scope="row" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ habit.frequency }} per week">{{habit.habit_name}}</th>
                <td>{{ habit.current_streak }}</td>
                <td>{{ habit.max_streak }}</td>
                <td>{{ habit.records|length }}</td>
              </tr>
            {% endfor %}


            <tr class="table-secondary" id="monthly-row">
              <th scope="row">Monthly</th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            {% for habit in monthly_habits %}
              <tr>
                <th scope="row" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ habit.frequency }} per month">{{habit.habit_name}}</th>
                <td>{{ habit.current_streak }}</td>
                <td>{{ habit.max_streak }}</td>
                <td>{{ habit.records|length }}</td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
      
      {% else %}
        <p id="new_habit_prompt">Uh-oh there's no habit yet.
        </p>
      {% endif %}
    </div>
    
  </div>

</div>
{% endblock %}


{% block after_body %}
<!-- JS script for bootstrap 5 and render calendar with records -->
<script>
  let recModal = new bootstrap.Modal(document.getElementById('rec_modal'))

  document.addEventListener('DOMContentLoaded', function() {
    let calendarEl = document.getElementById('calendar');
    let calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      events: [
        {% for event in events %}
        {
          title: '{{ event.title }}',
          start: '{{ event.start }}'
        },
        {% endfor %}    
      ],
      selectable: true,
      select: function(info){
        // set value of record date to the date user clicks on
        start = info.startStr;
        document.querySelector('#log-date').value = start ;
        recModal.show();
      }
    });
    
    calendar.render();
  });
</script>
{% endblock %}