{% extends 'base.html' %}

{% block title %}STICK | Progress{% endblock %}

{% block head %}
<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
<!-- Chart.js luxon adaptor -->
<script src="https://cdn.jsdelivr.net/npm/luxon@2.0.2/build/global/luxon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.1.0/dist/chartjs-adapter-luxon.min.js"></script>

<!-- FullCalendar -->
<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css' rel='stylesheet' />
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js'></script>
{% endblock %}

{% block body %}
<div class="container pt-3">
  
  <div class="row">
    <!-- Calendar -->
    <div class="col-lg-6 mb-3">
      <div id="calendar"></div>
    </div>
    
    <div class="accordion col-lg-6">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" id="overview-header" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Overview
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
          <div class="accordion-body">
             <div id="habit_list">
              {% if habits %}
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col" class="table-light"></th>
                    <th scope="col" class="table-light" data-bs-toggle="tooltip" data-bs-placement="top" title="Current Streak">Current</th>
                    <th scope="col" class="table-light" data-bs-toggle="tooltip" data-bs-placement="top" title="Longest Streak">Longest</th>
                    <th scope="col" class="table-light" data-bs-toggle="tooltip" data-bs-placement="top" title="Total Records">Total</th>
                    <th scope="col" class="table-light" data-bs-toggle="tooltip" data-bs-placement="top" title="Make a record for today without notes and photo.">1-Click Log</th>
                  </tr>
                </thead>
                <tbody id="habit-table">
                  {% if daily_habits %}
                  <tr class="table-secondary" id="daily-row">
                    <th scope="row">Daily</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  {% for habit in daily_habits %}
                    <tr class="habit-row">
                      <th scope="row" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ habit.frequency }} per day">{{habit.habit_name}}</th>
                      {% if habit.current_streak == 0 %}
                      <td><img src="static/img/Misc/fire_bw.png" alt="fire-bw">&nbsp;{{ habit.current_streak }}</td>
                      {% else %}
                      <td><img src="static/img/Misc/fire.png" alt="fire">&nbsp;{{ habit.current_streak }}</td>
                      {% endif %}
                      <td>{{ habit.max_streak }}</td>
                      <td>{{ habit.records|length }}</td>
                      <td>
                        <form action="/quick_log" method="POST">
                          <input class="form-control" type="hidden" name="habit_id" value="{{ habit.habit_id }}">
                          <button class="btn quick-log" type="submit">
                            <i class="bi bi-check-circle"></i>
                          </button>
                        </form>
                      </td>
                    </tr>
                  {% endfor %}
                  {% endif %}

                  {% if weekly_habits %}
                    <tr class="table-secondary" id="weekly-row">
                      <th scope="row">Weekly</th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    {% for habit in weekly_habits %}
                      <tr class="habit-row">
                        <th scope="row" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ habit.frequency }} per week">{{habit.habit_name}}</th>
                        {% if habit.current_streak == 0 %}
                        <td><img src="static/img/Misc/fire_bw.png" alt="fire-bw">&nbsp;{{ habit.current_streak }}</td>
                        {% else %}
                        <td><img src="static/img/Misc/fire.png" alt="fire">&nbsp;{{ habit.current_streak }}</td>
                        {% endif %}
                        <td>{{ habit.max_streak }}</td>
                        <td>{{ habit.records|length }}</td>
                        <td>
                          <form action="/quick_log" method="POST">
                            <input class="form-control" type="hidden" name="habit_id" value="{{ habit.habit_id }}">
                            <button class="btn quick-log" type="submit">
                              <i class="bi bi-check-circle"></i>
                            </button>
                          </form>
                        </td>
                      </tr>
                    {% endfor %}
                    {% endif %}

                    {% if monthly_habits %}
                    <tr class="table-secondary" id="monthly-row">
                      <th scope="row">Monthly</th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    {% for habit in monthly_habits %}
                      <tr class="habit-row">
                        <th scope="row" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ habit.frequency }} per month">{{habit.habit_name}}</th>
                        {% if habit.current_streak == 0 %}
                        <td><img src="static/img/Misc/fire_bw.png" alt="fire-bw">&nbsp;{{ habit.current_streak }}</td>
                        {% else %}
                        <td><img src="static/img/Misc/fire.png" alt="fire">&nbsp;{{ habit.current_streak }}</td>
                        {% endif %}
                        <td>{{ habit.max_streak }}</td>
                        <td>{{ habit.records|length }}</td>
                        <td>
                          <form action="/quick_log" method="POST">
                            <input class="form-control" type="hidden" name="habit_id" value="{{ habit.habit_id }}">
                            <button class="btn quick-log" type="submit">
                              <i class="bi bi-check-circle"></i>
                            </button>
                          </form>
                        </td>
                      </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
              </table>
              {% else %}
              <p> Let's create a habit first!</p>
              {% endif %}

             </div> 
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" id="chart-header" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Chart
          </button>
        </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div id="habit-chart">
              <canvas id="multi-line"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" id="log-header" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Recent Logs
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            {% if recent_recs %}
              {% for record in recent_recs %}
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-6">
                    {% if record.img_url %}
                    <img src="{{ record.img_url }}" class="card-img-top img-fluid rounded-start" alt="record_image">
                    {% else %}
                    <img src="static/img/Misc/mountain1.jpg" class="card-img-top img-fluid rounded-start" alt="placeholderImg">
                    {% endif %}
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <h5 class="card-title">{{ record.habit.habit_name }}</h5>
                      <p class="card-text rec-note">{{ record.notes }}</p>
                      <p class="card-text"><small class="text-muted">{{ record.record_date }}</small></p>
                    </div>
                  </div>
                </div>
                
              </div>
              {% endfor %}
            {% else %}
            <p>Hmm..there is no record yet. You can log a habit by clicking on the calendar!</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" id="quote-header" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Inspiration
          </button>
        </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div id="quote">
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
</div>
{% endblock %}


{% block after_body %}
<!-- JS script for bootstrap 5 and render calendar with records -->
<script>
  let recModal = new bootstrap.Modal(document.getElementById('rec_modal'))

  document.addEventListener('DOMContentLoaded', function() {
    let calendarEl = document.getElementById('calendar');
    let calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      events: [
        {% for event in events %}
        {
          id: '{{ event.id }}',
          title: '{{ event.title }}',
          start: '{{ event.start }}',
          color: '{{ event.color }}',
          
        },
        {% endfor %}    
      ],
      selectable: true,
      select: function(info){
        // set value of record date to the date user clicks on
        start = info.startStr;
        document.querySelector('#log-date').value = start ;
        recModal.show();
      }
    });
    
    calendar.render();
  });

  
</script>
<script src="/static/js/app.js"></script>

{% endblock %}
