{% extends 'base.html' %}
{% block title %}STICK | Sign up{% endblock %}

{% block body %}


<main class="container mt-4 mb-auto">
    <div class="row"> 
        <!-- sign up form -->
        <div class="col-md-6">
            <h4>Create an account</h4>
            <form action="/signup" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" name="name" id="name" class="form-control" required>
                </div>
                
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="pw" class="form-label">Password:</label>
                    <input type="password" name="password" id="pw" class="form-control" required onChange="checkPassword()">
                </div>

                <div class="mb-3">
                    <label for="confirm_pw" class="form-label">Confirm password:</label>
                    <input type="password" name="confirm_pw" id="confirm_pw" class="form-control" required onChange="checkPassword()">
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-secondary ">Create account</button>
                </div>

            </form>
            <div>
                <p>Already a user? <a href="/login">Log in here.</a></p>
            </div>
        </div>
        <!-- sign up img -->
        <div class="col-md-6 me-auto d-flex justify-content-center">
            <img class="img-fluid d-none d-md-block" src="static/img/Misc/hiking3.jpeg" alt="signup"
            id="signup-img">
        </div>
        
        
    </div>
</main>

{% endblock %}

{% block after_body %}
<script src="/static/js/confirm_pw.js"></script>
{% endblock %}