{% extends 'base.html' %}
{% block title %}STICK | Sign up{% endblock %}

{% block body %}


<div class="container mt-4 mb-auto">
    <div class="row"> 
        <div class="col-sm-6">
            <img class="img-fluid" src="static/img/Misc/hiking2.jpg" alt="">

        </div>
        <div class="col-sm-6">
            <h4>Create an account</h4>
            <form action="/signup" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" name="name" id="name" class="form-control" required>
                </div>
                
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="pw" class="form-label">Password:</label>
                    <input type="password" name="password" id="pw" minlength="7" maxlength="15" class="form-control" required onChange="checkPassword()">
                </div>

                <div class="mb-3">
                    <label for="confirm_pw" class="form-label">Confirm password:</label>
                    <input type="password" name="confirm_pw" id="confirm_pw" minlength="7" maxlength="15" class="form-control" required onChange="checkPassword()">
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-secondary">Create account</button>
                </div>

            </form>
            <div>
                <p>Already a user? <a href="/login">Log in here.</a></p>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}

{% block after_body %}
<script src="/static/js/confirm_pw.js"></script>
{% endblock %}